@using Webbansach.Models;
@model List<Sach>
@{
    Layout = "~/Views/Layout/NguoidungLayout.cshtml";
    ViewBag.Title = "Index";
}
<link href="~/Content/cssnguoidungLayout/trangchu.css" rel="stylesheet" />
@section noidungbenphai{
    
}

@*divBody trang index*@
<h2 style="margin-left:2%;font-weight:normal;color:black">Sách mới xuất bản</h2>
<hr />
@*
    Chú thích:
    -Div divBody chứa Div SanPham
    -Div SanPham chứa Div AnhBia,ThongTin
    -Div ThongTin chứa Div TenSach,DonGia
*@

<div id="divBody" style="background:White;">
    @{int i = 0;}
    @foreach (var item in Model)
    {
        i++;
        <div id="SanPham">
            <a href="@Url.Action("XemChiTiet", "Sach", new { @MaSach=item.MaSach })">  <div id="AnhBia"><img src="@Url.Content("~/imgProduct/"+item.AnhBia)" width="100" height="150" /></div></a>
            <div id="ThongTin">
                @*Nếu tên sách dài hơn 30 ký tự thì chúng ta sẽ cắt tên sách ra lấy từ ký tự 0 đến ký tự 35*@
                @if (item.TenSach.Length < 35)
                {
                    <div id="TenSach" title="@item.TenSach">@item.TenSach.</div>
                }
                else
                {
                    <div id="TenSach" title="@item.TenSach"> @item.TenSach.Substring(0, 35) ...</div>
                }
            
                <div id="DonGia" style="color:orange"><font color="Green">Giá:</font> @String.Format("{0:0,0}", item.GiaBan) VNĐ</div>
            </div>
            @*<div id="GioHang">
                    @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMaSach = item.MaSach, @strURL = Request.Url.ToString() }))
                    {
                        <input type="submit" style="cursor:pointer" value="Mua hàng &#xf07a;" id="btnGioHang" class="btn btn-primary">
                    }
                </div>*@
        </div>
        if (i % 3 == 0)
        {
            <div style="clear:both"></div>
        }
    }

</div>
<div style="clear:both"></div>

<style>
    .MenuTrang li {
        display: inline;
    }
</style>

